* {
  font-family: Helvetica, sans-serif, sans-serif;
}

.singup {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.5em;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  min-width: 300px;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background: #081c36c3;
  /* box-shadow: 10px 10px 24px #c8c8c85b, -10px -10px 24px #fefefe5b; */
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 181px 7px rgba(97, 0, 207, 0.76);
    -moz-box-shadow: 0px 0px 181px 7px rgba(97, 0, 207, 0.76);
    box-shadow: 0px 0px 181px 7px rgba(97, 0, 207, 0.76);
}

.inputBox,
.inputBox1,
.inputBox2 {
  position: relative;
  width: 250px;
}

.inputBox input,
.inputBox1 input,
.inputBox2 input {
  caret-color: white;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox span,
.inputBox1 span,
.inputBox2 span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox1 input:valid~span,
.inputBox1 input:focus~span {
  transform: translateX(152px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox2 input:valid~span,
.inputBox2 input:focus~span {
  transform: translateX(197px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox1 input:valid,
.inputBox1 input:focus,
.inputBox2 input:valid,
.inputBox2 input:focus {
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 3em;
  color: white;
}

.enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.card {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  margin-top: 20px;
}

body {
  /* background-image: url(giphy2.gif); */
  background-size: cover;
}

.upiimg {
  width: 250px;
}

.payment {
  display: none;
}